.services {
  margin: 5rem 0;
}
/* left side */

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
 .color-text{
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

.description p{
  color: var(--gray);
  line-height: 1.8rem;
  margin: 20px 0;
}

.s-button {
  margin-top: 20px;
}

a{
  width: fit-content;
  height: fit-content;
  padding: 0;
  display: block;
  margin: 0 auto;
}

.tech-logos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tech-logos div{
  transform: scale(2.5);
  color: var(--orange);
  margin: 30px 0 1rem 0;
}

/* right sided */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 480px) {
  .services {
    margin-top: 0;
    flex-direction: column;
    gap: 5rem;
    height: 66rem;
    padding: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards > * {
    position: static;
  }
}
